<h2><%= @user.username %></h2>

<% @photos.each do |photo| %>

<% if photo.user_id = @user.id %>
<ul>
  <li><%= photo.caption %></li>
  <a href="/photos/<%= photo.id %>">
    <img src="<%= photo.image %>" width="300">
  </a>
</ul>
<% end %>
<% end %>
